<div>
    <h3>WHO ARE WE?</h3>
    <p>Robomix is a small programming studio located in Ukraine, consisting of Andrew, Dima, Max and Dan. All four of
        us are graduates from the Technical University, where we learned about each others unique work methods and saw
        the potential to do great stuff together.</p>
    <p>Established in the summer of 2008, Robomix is a competent and curious team specialised in both web and mobile
        applications. In order to truly harness our expertise, our main focus area is in the intersection between
        the frontend and the backend spheres.</p>
    <h4>WHAT WE DOING?</h4>
    <p>Developing and support of the new and existing websites, server's side, client-server Android and iOS-applications
        for customers in the USA, United Kingdom, Germany, Australia and more countries with the usage of
        different programming languages like PHP, Java, JavaScript, TypeScript, Kotlin, Python etc.</p>
</div>