<div align="left" style="background-color: rgba(0, 0, 0, 0.3); padding: 2%;">
    <h3>WHO ARE WE?</h3>
    <p>Robomix is a small programming studio located in Ukraine, consisting of Andrew & Dmitry. We make different web and mobile projects.</p>
    <p>This web-site is a portfolio with our programming projects.</p>
    <br/>
    <br/>
    <br/>
    <table>
        <tr>
            <td width="50%"><h5 align="left">Andrew:</h5></td>
            <td width="50%"><h5 align="left" style="padding-left: 5%; color: #FFFFFF;">Dmitry:</h5></td>
        </tr>
        <tr>
            <td style="border-right: 1px solid white; padding-right: 5px;" >
                <p>Last 4 years I am working as Android Developer. But before it I did work as project manager. So, I have a lot of experience IT.</p>
    <p>You may see my profile on Upwork <a target="_blank" href="https://www.upwork.com/freelancers/~01d04c17edf5c871bd">here</a></p>
    <br/>
    <h5>What I doing:</h5>
    <p>Developing and support of the new and existing client-server Android applications for customers in the USA, United
        Kingdom, Germany, Australia and more countries with the usage of different programming languages.</p>
    <br/>
    <h5>Programming Languages/Technical Skills/Technologies</h5>
    <p>Java, Kotlin, Python</p>
    <p>XML, JSON, HTTP, Web sockets, TCP/UDP, HTTP.</p>
    <p>Android API, OOP and Reactive Programming, Android Architecture approaches.</p>
    <p>PlayMarket, Google Maps, Facebook, Google+, Youtube, Twitter, Firebase, Cloud Messaging, Firestore, Firebase Dynamic Link.</p>
    <p>Bluetooth and BLE (Bluetooth Low Energy), RTMP video stream.</p>
    <p>Fabric, Amazon Web Service(AWS), Digitalocean</p>
    <p>Push-notify, GPS location services.</p>
    <p>In-app billing and Subscription API.</p>
    <br/>
    <p>A creative approach to the tasks. Ability to write a clean code. Ability and desire to learn new skills and
        master new technologies. The ability to quickly understand someone's else code, if needed. In-depth background
        analyzing business requirements and recommending appropriate technologies. Solid understanding of project
        management and software development life cycle.  I am always available and always complete the work with High
        Quality and on time. You may write to me right now!</p>
            </td>

            <td style="padding-left: 2%;">Resume in progress..</td>
        </tr>
    </table>
</div>