<div align="left" style="background-color: rgba(0, 0, 0, 0.3); padding: 2%;">
    <p>Hello everyone! My name is Andrew Gahov. I am making different mobile and web projects.</p>
    <p>This web-site is my small presentation page. You may see a portfolio with my programming projects here.</p>
    <br/>
    <p>What I doing:</p>
    <p>Developing and support of the new and existing client-server Android applications for customers in the USA,
        United
        Kingdom, Germany, Australia and more countries with the usage of different programming languages.</p>
    <br/>
    <br/>

    <p><a target="_blank" href="https://www.linkedin.com/in/andrew-gahov/">
                    <img src="static/img/linkedin_logo.jpg"><br />
        My resume on LinkedIn</a></p>

    <p><a target="_blank" href="https://www.upwork.com/freelancers/~01d04c17edf5c871bd">
                    <img src="static/img/upwork_logo.jpg"><br />
                    My profile on UpWork
                </a></p>

    <p><a target="_blank" href="https://github.com/andrewgrow">
                    <img src="static/img/github_logo.jpg"><br />
                    My profile on Github
                </a></p>
    <br/>
    <br/>
    <p id="email">
        <script type='text/javascript'>email();</script>
    </p>

</div>