<div>

    <h2>Robomix is a portfolio with my programming projects.</h2>

    <h3>About me:</h3>

    <p>Last 4 years I am working as Android Developer. But before it I did work as project manager. So, I have a lot of experience IT.</p>
    <p>You may see my profile on Upwork <a href="https://www.upwork.com/freelancers/~01d04c17edf5c871bd">here</a></p>
    <h3>What I doing:</h3>

    <p>Developing and support of the new and existing client-server Android applications for customers in the USA, United
        Kingdom, Germany, Australia and more countries with the usage of different programming languages.</p>


    <h3>Programming Languages/Technical Skills/Technologies</h3>
    <ul>
        <li>Java, Kotlin, Python</li>
        <li>XML, JSON, HTTP, Web sockets, TCP/UDP, HTTP.</li>
        <li>Android API, OOP and Reactive Programming, Android Architecture approaches.</li>
        <li>PlayMarket, Google Maps, Facebook, Google+, Youtube, Twitter, Firebase, Cloud Messaging, Firestore, Firebase Dynamic Link.</li>
        <li>Bluetooth and BLE (Bluetooth Low Energy), RTMP video stream.</li>
        <li>Fabric, Amazon Web Service(AWS), Digitalocean</li>
        <li>Push-notify, GPS location services.</li>
        <li>In-app billing and Subscription API.</li>
    </ul>

    <p>A creative approach to the tasks. Ability to write a clean code. Ability and desire to learn new skills and master
        new technologies. The ability to quickly understand someone's else code, if needed.</p>

    <h3>I AM PROUD OF:</h3>
    <ul>
        <li>Medical startup that's live and growing fast after 9 months of heavy work</li>
        <li>Video streaming solution that is most stable/powerful and now takes 10% of US insurance market share</li>
        <li>The app that is in top 10 among world VPN service providers (and another two are in top 100)</li>
        <li>More other projects I have successfully made</li>
    </ul>
</div>

<!--