<header class="masthead mb-auto">
    <div class="inner">
        <h3 id="sp-logo" class="masthead-brand">
            <a href="/">Gahov<span class="logo-yellow">.com</span></a>
        </h3>
        <nav id="top_menu" class="nav nav-masthead justify-content-center">
            <!--<a class="nav-link active" href="#about-us">About us</a>-->
            <a class="nav-link" href="#about">About</a>
            <!--<a class="nav-link" href="#portfolio">Portfolio</a>-->
        </nav>
    </div>
</header>